<h1 class="dash-title">Cards</h1>
<p class="mb-5">Cards are simply Bootstrap cards with some added features for the dashboard environment.</p>
<div class="row">
  <div class="col-lg-6">
    <div class="card spur-card">
      <div class="card-header ">
        <div class="spur-card-icon">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="spur-card-title"> A card </div>
        <div class="spur-card-menu">
          <div class="dropdown show">
            <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body "> Just a card that can be used to display some content, graphs, tables, and so on. </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card spur-card">
      <div class="card-header bg-primary text-white">
        <div class="spur-card-icon">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="spur-card-title"> Primary Header </div>
        <div class="spur-card-menu">
          <div class="dropdown show">
            <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body "> Just a card that can be used to display some content, graphs, tables, and so on. </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="card spur-card">
      <div class="card-header bg-success text-white">
        <div class="spur-card-icon">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="spur-card-title"> Success </div>
        <div class="spur-card-menu">
          <div class="dropdown show">
            <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body "> Just a card that can be used to display some content, graphs, tables, and so on. </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card spur-card">
      <div class="card-header bg-danger text-white">
        <div class="spur-card-icon">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="spur-card-title"> Danger Header </div>
        <div class="spur-card-menu">
          <div class="dropdown show">
            <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body "> Just a card that can be used to display some content, graphs, tables, and so on. </div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-lg-6">
    <div class="card spur-card">
      <div class="card-header bg-warning text-dark">
        <div class="spur-card-icon">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="spur-card-title"> Warning Card </div>
        <div class="spur-card-menu">
          <div class="dropdown show">
            <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body bg-warning text-dark"> Just a card that can be used to display some content, graphs, tables,
        and so on. </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card spur-card">
      <div class="card-header bg-dark text-white">
        <div class="spur-card-icon">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="spur-card-title"> Dark Card </div>
        <div class="spur-card-menu">
          <div class="dropdown show">
            <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body bg-dark text-white"> Just a card that can be used to display some content, graphs, tables,
        and so on. </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="card spur-card">
      <div class="card-header bg-secondary text-white">
        <div class="spur-card-icon">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="spur-card-title"> Secondary Card </div>
        <div class="spur-card-menu">
          <div class="dropdown show">
            <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body bg-secondary text-white"> Just a card that can be used to display some content, graphs,
        tables, and so on. </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card spur-card">
      <div class="card-header bg-info text-white">
        <div class="spur-card-icon">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="spur-card-title"> Info Card </div>
        <div class="spur-card-menu">
          <div class="dropdown show">
            <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body bg-info text-white"> Just a card that can be used to display some content, graphs, tables,
        and so on. </div>
    </div>
  </div>
</div>
