/* You can add global styles to this file, and also import other style files */
.dash-nav-item {
  color: #fff !important;
  cursor: pointer !important;
}

.dash-nav-dropdown-item {
  color: #fff !important;
  cursor: pointer !important;
}
